.spinner_girar
{
    animation: giroSpinner 2s linear infinite;
}

@keyframes giroSpinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}   
